<form (ngSubmit)="onSubmit()">
  <div style="text-align:center">
    <h1>
      This is a reactive form! The values below will be passed to the next page when the button is pushed.
    </h1>
  </div>
  <ul>
    <li>
      <h2>First Name: {{ firstName }}</h2>
    </li>
    <li>
      <h2>Last Name: {{ lastName }}</h2>
    </li>
    <li>
      <h2>Address: {{ address }}</h2>
    </li>
    <li>
      <h2>Favorite Number: {{ favoriteNumber }}</h2>
    </li>
  </ul>
  <app-page-two-submit-button [firstName]="firstName"></app-page-two-submit-button>
</form>

